
@{
    ViewData["Title"] = "Locação";
}

    <div class="text-center">
        <h1 class="display-4">Locação</h1>
        <p>Selecione o período para verificar as reservas realizadas.</p>

        <div class="row">
            <div class="col-md-5 mb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Início</span>
                    </div>
                    <input type="date" class="form-control" required>
                </div>
            </div>
            <div class="col-md-5 mb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Fim</span>
                    </div>
                    <input type="date" class="form-control" required>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <a class="btn btn-primary text-white" role="button">Buscar</a>
            </div>
        </div>

        <div class="row" style="padding-top:25px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Combustivel</th>
                        <th scope="col">Data da Locação</th>
                        <th scope="col">Valor Hora</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chevrolet</td>
                        <td>Onix 1.0</td>
                        <td>HRT-2932</td>
                        <td>2020</td>
                        <td>Gasolina</td>
                        <td>12/01/2021</td>
                        <td>R$ 13,00</td>
                        <td>R$ 856,30</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fiat</td>
                        <td>Argo 1.0</td>
                        <td>FTP-1037</td>
                        <td>2021</td>
                        <td>Gasolina</td>
                        <td>25/01/2021</td>
                        <td>R$ 7,00</td>
                        <td>R$ 436,00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Volkswagen</td>
                        <td>Polo 1.0</td>
                        <td>XUS-5021</td>
                        <td>2021</td>
                        <td>Gasolina</td>
                        <td>06/02/2021</td>
                        <td>R$ 17,00</td>
                        <td>R$ 946,87</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

