@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Fique tranquilo(a)!</p>
<p>Os dados trafegados neste site serão armazenados por um curto período de tempo e serão utilizados apenas para avaliação no desafio técnico para a obtenção do cargo de Engineer Lead.</p>
